
<html>
	<head>
		<title>LAMP SERVER</title>
		
		<!-- JS -->
		<script data-main="scripts/main" src="scripts/lib/require.js"></script>

				
		<!-- CSS -->
		<link rel="stylesheet" href="css/css.css"/>		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<h1>This lamp server is running correctly!</h1>
		<div id="content">
			<img src="etc/house_picture.jpg" id="background"/>
		</div>
	</body>
<html>

